#page-header {
  min-height: 60vh;
  h1 {
    margin-top: 12vh;
    &.big {
      @include font-size(60px);
    }
    &.normal {
      @include font-size(50px);
    }
  }
  .subtitle {
    @include font-size(32px);
  }
  [src="/small-stars.svg"] {
    max-height: 16vh;
    margin-top: 8vh;
  }
  &:not(.bg-light) {
    h1 {
      text-shadow: 0 0 8px $abyss;
    }
    .subtitle {
      text-shadow: 0 0 5px $abyss;
    }
    ul {
      text-shadow: 0 0 5px $abyss;
    }
  }
}
