#full-screen-title {
  min-height: 60vh;
  h1 {
    margin-top: 12vh;
    &.big {
      @include font-size(60px);
    }
    &.normal {
      @include font-size(50px);
    }
  }
  .sub-title {
    @include font-size(32px);
  }
  [src="/small-stars.svg"] {
    max-height: 16vh;
    margin-top: 8vh;
  }
}
