.row {
  justify-content: center;
  @each $color in (flower abyss) {
    &.bg-#{$color} {
      color: $light;
    }
  }
  @each $color in (flower) {
    &.bg-#{$color} a {
      color: $mist;
    }
  }
}
