.row {
  justify-content: center;
  @each $color in (flower sun lagoon dark abyss) {
    &.bg-#{$color} {
      color: $light;
    }
  }
  &.bg-abyss {
    p a,
    li a {
      color: $sun;
    }
  }
  @each $color in (flower) {
    &.bg-#{$color} p a,
    &.bg-#{$color} li a {
      color: $mist;
    }
  }
  > * {
    z-index: 2;
  }
  h3.collapser {
    cursor: pointer;
    &:after {
      margin-left: 16px;
    }
    &.showing:after {
      content: "-";
    }
    &:not(.showing) {
      margin-bottom: 48px !important;
      &:after {
        content: "+";
      }
    }
  }
}
