.table-of-contents {
  font-size: $font-size-base * 1.12;
  list-style: "➤";
  li {
    padding-top: 0.12rem;
    padding-bottom: 0.12rem;
    padding-left: 0.6rem;
  }
  a {
    font-weight: initial;
  }
}
