RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://rimarok.com/$1 [L,R=301]
RewriteRule ^(.*)$/ https://rimarok.com/$1 [L,R=301]

RedirectMatch 301 "/prestation?$" "/developpement-web-freelance"
RedirectMatch 301 "/ingenierie-web?$" "/expertise-fullstack-javascript"
RedirectMatch 301 "/eco-conception?$" "/eco-conception-logicielle-et-sobriete-numerique"
RedirectMatch 301 "/motifs?$" "/motifs-de-conception"
