RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://rimarok.com/$1 [L,R=301]
RewriteRule ^(.*)$/ https://rimarok.com/$1 [L,R=301]

Redirect 301 "/prestation" "/developpement-web-freelance"
Redirect 301 "/ingenierie-web" "/ingenierie-logicielle"
Redirect 301 "/eco-conception" "/eco-conception-logicielle"
Redirect 301 "/motifs" "/motifs-de-conception"
