// COLORS
$mist: #8ecae6;
$lagoon: #219ebc;
$abyss: #023047;
$sun: #ffb703;
$flower: #fb8500;
// Green olive ;)
$greeve: #aeec42;
$light_greeve: #c5f9b7;
$light_mist: #d3f1ff;
$light_sun: #fcebc3;
$dark_greeve: #575a47;
$rosam: #c64f53;
// Not themed colors
$grey: #888;

$theme-colors: (
  mist: $mist,
  lagoon: $lagoon,
  abyss: $abyss,
  sun: $sun,
  flower: $flower,
  greeve: $greeve,
  light_greeve: $light_greeve,
  light_mist: $light_mist,
  light_sun: $light_sun,
  dark_greeve: $dark_greeve,
  rosam: $rosam,
);

// FONTS
$font-rubik: "Rubik-400";
$font-slab: "Roboto-Slab-300";

$display-font-sizes: (
  1: 3rem,
  2: 2.5rem,
  3: 2rem,
  4: 2.5rem,
  5: 2rem,
  6: 1.5rem,
) !default;

// NAVBAR
$navbar-brand-font-size: 1.5rem;

// GRID
$grid-gutter-width: 0;

// BADGE
$badge-font-size: 0.65em;
$badge-font-weight: normal;
