// COLORS
$flower: rgb(226, 94, 60);
$abyss: rgb(38, 81, 117);
$sun: rgb(241, 132, 65);
$mist: rgb(183, 209, 222);
$lagoon: #20c997;
$ground: rgb(226, 190, 176);
// Bootstrap-based
$light: #f8f9fa;
// Bootstrap-based
$dark: #212529;
// Not themed colors
$grey: #888;

$theme-colors: (
  sun: $sun,
  flower: $flower,
  mist: $mist,
  lagoon: $lagoon,
  abyss: $abyss,
  ground: $ground,
  light: $light,
  dark: $dark,
);

// FONTS
$font-rubik: "Rubik-400";
$font-slab: "Roboto-Slab-300";

$display-font-sizes: (
  1: 3rem,
  2: 2.5rem,
  3: 2rem,
  4: 2.5rem,
  5: 2rem,
  6: 1.5rem,
) !default;

// BODY
$body-bg: $light;
$body-color: $dark;

// A
$link-color: $abyss;

// NAVBAR
$navbar-brand-font-size: 1.5rem;

// GRID
$grid-gutter-width: 0;

// BADGE
$badge-font-weight: normal;
$badge-padding-y: 0.45em;
$badge-padding-x: 1em;
